<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped table-hover">
            <tr>
                <th>Nama</th>
                <th>Umur</th>
                <th>Genre Film</th>
                <th>Tahun Film</th>
                <th>Asal Film</th>
                <th>List Film</th>
                <th>Favorite</th>
            </tr>

            {% for x in movie %}
            <tr>
                <th>{{x.nama}}</th>
                <th>{{x.umur}}</th>
                <th>{{x.genre}}</th>
                <th>{{x.tahun}}</th>
                <th>{{x.asal}}</th>
                <th>{{x.listfilm}}</th>
                <th>{{x.favorite}}</th>
            </tr>
            {% endfor %}
            

        </table>
    </div>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>